@import "./header.css";
@import "./footer.css";

:root {
    --white: #ffffff;
    --black: #020105;
    --blue-primary: #002856;
    --blue-secondary: #024b80;
    --gray: #f5f5f7;
    --green: #2ec936;
    --red: #c92e2e;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none !important;
    scroll-behavior: smooth !important;
}

.box {
    max-width: calc(1180px + 20px);
    width: 100%;
    margin: 0 auto;
    padding-inline: 10px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 1 auto;
    margin-top: 124px;
}

.logo {
    max-width: 140px;
    width: 100%;
    height: 60px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-md {
    margin-top: 80px;
}

.section-lg {
    margin-top: 120px;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.section-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: var(--black);
    margin: 0;
}

/* === TOAST === */
.c-toast {
    position: fixed;
    top: 20px;
    right: 16px;
    z-index: 999;
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    border-radius: 4px;
}

.c-toast.success {
    background-color: var(--green);
}

.c-toast.error {
    background-color: var(--red);
}

.bg-blue {
    background-color: var(--blue-primary);
}

/* === BREACRUMB === */
.c-breadcrumb {
    background-color: var(--blue-primary);
}

.c-breadcrumb__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 40px;
}

.c-breadcrumb__content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.c-breadcrumb__content__element {
    font-size: 16px;
    line-height: 24px;
    color: var(--white) !important;
    transition: 0.3s;
    margin: 0px !important;
}

a.c-breacdrumb__content__element {
    color: rgba(255, 255, 255, 0.8);
}

a.c-breacdrumb__content__element:hover {
    color: var(--white);
}

.c-breadcrumb__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: var(--white);
    margin: 0;
}

/* === FORM === */
.form__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form__inner__imageside {
    position: relative;
    width: 100%;
    height: 480px;
    border-radius: 8px;
    overflow: hidden;
}

.form__inner__formside {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--gray);
    padding: 30px 40px;
    border-radius: 8px;
    overflow: hidden;
}

.form__inner__form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.form__inner__form__inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
}

.form__inner__form__input:focus,
.form__inner__form__button {
    outline: none;
}

.form__inner__form__input {
    padding: 15px 20px;
    background-color: var(--white);
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    border: none;
    outline: none;
    border-radius: 2px;
    overflow: hidden;
}

.form__inner__form__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.form__select {
    padding: 15px 20px;
    background-color: var(--white);
    font-size: 16px;
    line-height: 20px;
    border: none;
    outline: none;
    border-radius: 2px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    color: var(--black);
}

textarea.form__inner__form__input {
    grid-column: span 2;
}

.form__inner__form__button {
    background-color: var(--blue-secondary);
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border: 1px solid var(--blue-secondary);
    padding: 16px 30px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
